* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.the-most-main-container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
}

.aside__container {
  background-color: white;
  border-right: 2px solid rgb(245, 247, 250);
  /* width: 300px; */
}

.bankdash__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 40px;
  padding-right: 20px; /* added to push back the border   */
  margin-bottom: 60px;
}

.bankdash-logo__title {
  color: rgb(52, 60, 106);
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

.bankdash__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bankdash__item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bankdash__link {
  color: rgb(177, 177, 177);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

.bankdash__link:hover {
  color: rgb(24, 20, 243);
  cursor: pointer;
  transition: color 0.3s ease;
}

/* end of aside  */

/* start of header */

.header-main__container {
  width: 1440px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 30px;
  /* border-bottom: 2px solid rgb(245, 247, 250); */
  padding-left: 60px;
}

.header__title {
  color: rgb(52, 60, 106);
  font-family: "Inter";
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
}

.header__panel-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__form {
  position: relative;
}

.header__input {
  color: rgb(139, 163, 203);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 40px 16px 60px;
  border-radius: 40px;
  background: rgb(245, 247, 250);
  border: none;
}

.header__search-icon {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

/* end of header */

/* start of main */

.main {
  background: rgb(245, 247, 250);
  height: 200vh;
  padding-left: 60px;
}

.cards__container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 20px;
}

.cards__title {
  color: rgb(51, 59, 105);
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 25px;
  margin-bottom: 20px;
}

.cards__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-card {
  width: 350px;
  /* height: 225px; */
  border-radius: 25px;
  background: linear-gradient(
    135.29deg,
    rgb(45, 96, 255) 2.413%,
    rgb(83, 155, 255) 101.106%
  );
  /* padding: 25px 25px 0px 25px; */
}

.blue-card {
  border-radius: 25px;
  background: linear-gradient(
    135.29deg,
    rgb(76, 73, 237) 2.413%,
    rgb(10, 6, 244) 101.106%
  );
}

.white-card {
  box-sizing: border-box;
  border: 1px solid rgb(223, 234, 242);
  border-radius: 25px;
  background: rgb(30, 30, 30);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-balance {
  padding-top: 25px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.card-chip {
  padding-right: 30px;
}

.balance-title {
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}

.balance-amount {
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-holder {
  padding-left: 30px;
  margin-bottom: 50px;
}

.card-holder-title {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}

.card-holder-name {
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.card-valid-thru {
  padding-right: 100px;
  margin-bottom: 50px;
}

.valid-thru-title {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}

.valid-thru-date {
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  gap: 70px;
}

.card-number {
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 25px;
}

.card-logos {
  padding-right: 30px;
  margin-bottom: 25px;
  position: relative;
}

.card-logo__right {
  position: absolute;
  right: 15px;
  bottom: 4px;
}

/* end of first section */
/* begin of second section */
